@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

    body {
        color: #303030;
        overflow-x: hidden;
    }

/*--- Navbar--- */
    header{
        border-bottom: 2px solid #5DC261;
    }
    
    nav{
        margin: 15px 4vw;
        display: flex;
        justify-content: space-between;
    }

    .logo-item{
        display: flex;
        align-items: center;
    }

    .logo-item a{
        margin-left: 20px;
        width: 60%;
        font-size: 1.5rem;
        line-height: 30px;
        color: #00A106;
        font-family: 'Merriweather', serif;
    }

    nav ul{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    nav ul li{
        list-style-type: none;

    }

    nav ul li a{
        padding: 15px 25px;
        margin: 0 5px;
        cursor: pointer;
        font-family: 'open sans', sans-serif;
    }


/*--- Section 1--- */

    .container{
        /* width: 1080px; */
        margin: 0 10%;
    }

    .top-wrapper{
        padding: 50px 0;
        height: 56vh;
    }

    .top-wrapper h1{
        margin-top: 5vw;
        font-family: Poppins;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .top-wrapper p{
        font-family: 'Merriweather';
        width: 60%;
        font-size: 1.1em;
        line-height: 28px;
        color: #FFFFFF;
    }
    .background{
        background-image: url(assets/src/background.png);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        max-height: 495px;
    }

    .line-box {
        background-color: #A4C719;
    }

    .line-box .container{
        display: flex;
        font-size: 24px;
        justify-content: center;
    }

    .line-vertical{
        margin: auto 20px;
        border-left: 2px solid #FFFFFF;
        height: 60px;
    }
    .box-wrapper{
        display: flex;
        align-items: center;
        margin: 20px 20px;
    }
    .box-wrapper p{
        color: #FFFFFF;
        margin-left: 10px;
        font-family: 'open sans', sans-serif;
    }
    .box-wrapper img{
        width: 60px;
    }

/*--- Section 2--- */

    .content-wrapper{
        margin: 100px 0;
    }

    .container h2{
        width: 40%;
        font-size: 48px;
        line-height: 60px;
        color: #88AA00;
        margin-bottom: 35px;
    }

    .about img{
        position: absolute;
        left: 0;
        max-width: 50%;
    }

    .about-wrapper{
        padding: 5vw 0 0 30vw;
    }

    h3{
        font-size: 36px;
        color: #A4C719;
        font-family: 'merriweather', serif;
    }
    
    .about-content{
        padding: 60px 60px 60px 13vw;
        width: 42vw;
        background-color: #DAFFD9;
    }

    .about-content p, .news-content p{
        margin-top: 5px;
        font-family: 'merriweather', serif;
        font-size: 18px;
        line-height: 32px;
        width: 80%;

    }

/*--- Section 3--- */

    .news-content{
        width: 100%;
        display: flex;
    }

    .news-content img{
        max-height: 340px;
        width: 50%;
    }

    .news-content p{
        width: 95%;
        margin-bottom: 2em;
    }

    .news-article{
        margin-left: 40px;
        width: 100%;
        display: block;
    }

    .arrow-image {
        width: 50px;
        display: flex;
    }
    .arrow-image :nth-child(1){
        transform: scaleX(-1);
        margin-right: 70px;
    }

    .see-more{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center 
    }

    .see-more a{
        font-size: 18px;
        border: 2px solid #a4c719;
        color: #a4c719;
        padding: 8px 24px;
        cursor: pointer;
    }


/*--- Section 4--- */

    .article-wrapper{
        background-color: #DAFFD9;
        padding: 40px 0;
    }
    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card img{
        width: 100%;
    }

    /*--- masih ngasal--- */
    .text-image{
        position: absolute;
        margin-top: -8vw;
        margin-left: 30px;
    }
    .text-image p{
        color: #FFFFFF;
        font-size: 2.5vw;
        font-family: 'Merriweather', serif;
        font-weight: bold;
        width: 80%;
    }
    /*--- masih ngasal--- */

    .card {
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 4px rgba(80, 80, 80, 0.1);
        transition: 0.3s;
        margin-bottom: 30px;
        width: 32%;
        min-height: 38vw;
    }

    .card .model-content{
        text-align: center;
    }

    .card-content {
        padding: 15px 30px 30px 30px;
    }

    .card-content p{
        color: #303030;
        font-family: 'merriweather', serif;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 3em;
    }

    .card-content a{
        font-size: 14px;
        color: #1AB0FF;
    }

    .detail-card{
        display: flex;
        align-items: center;
        justify-content: center 
    }
    .detail-card img{
        margin-left: 5px;
        width: 15px;
    }



/*----- Section 5------ */

    .box-achievement {
        background-color: #f6f6f6;
    }
    .box-achievement .container{
        display: flex;
        align-items: center;
        font-size: 24px;
        justify-content: center;
    }

    .box-wrapper-achievement{
        margin: 30px 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-wrapper-achievement img{
        margin-bottom: 5px;
    }

    .box-wrapper-achievement p{
        color: #88AA00;
        margin-top: 5px;
        font-family: 'merriweather', serif;
    }


/*----- Section 6------ */

/* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
        display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
        background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    
/*--------Section 7--------- */

    .box-greeting {
        background-color: #f6f6f6;
        padding-bottom: 100px;
    }
    .greeting-content{
        text-align: center;
        padding: 30px;
        font-size: 18px;
        width: 80%;
        margin: 0 auto;
    }
    .greeting-content div p:nth-child(2){
        font-weight: 700;
    }
    .greeting-content div p:nth-child(1){
        font-family: 'merriweather', serif;
        font-size: 18px;
        margin-top: 10px;
        line-height: 28px;
    }
    .greeting-content div p:nth-child(3){
        font-family: 'merriweather', serif;
        font-size: 16px;
    }


/*----- footer----- */

    footer{
        background: linear-gradient(95.9deg, #A7C826 -6.86%, #2BA02F 103.01%);
        color: #FFFFFF;
    }

    footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .footer-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -60px;
    }
    .footer-logo a{
        font-family: Merriweather;
        font-size: 24px;
        color: #FFFFFF;
        width: 200px;
        text-align: center;
        margin-top: 10px;
    }

    footer ul{
        margin-right: 60px;
    }
    footer ul li{
        list-style-type: none;
    }

    footer ul li a{
        padding: 15px 0px;
        margin: 0 5px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
    }

    .footer-divided{
        display: flex;
        margin-top: 40px;

    }
    .footer-content-divided{
        display: flex;
        margin-right: 100px;
    }
    .footer-divided ul li{
        margin: 10px;
    }
    .footer-divided p{
        font-size: 14px;
        line-height: 21px;
        width: 270px;
        margin-top: 10px;
        font-weight: 300;
    }
    .footer-divided img{
        margin-top: 10px;
    }
    footer .copyright{
        background-color: #FFFFFF;
        width: 100vw;
        color: #303030;
        text-align: center;
        padding: 10px;
        font-size: 14px;
        color: #707070;
    }